<nav class="header">
    <div class="header-right">
        <span class="icons material-icons ">
            menu
        </span>
        <div class="logo">
            Not
            <img class="google-logo"
                src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg" />
            Translate
        </div>
    </div>
    <div class="header-left">
        <span class="icons material-icons ">
            apps
        </span>
        <span class="icon-profile material-icons ">
            account_circle
        </span>
    </div>
</nav>